# Pandas data Handling

In [9]:
import pandas as pd

df = pd.DataFrame(
    {
        "Name": [
            "Braud Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnel, Miss. Elizabeth"
        ],
        "Age": [22, 35, 58],
        "Sex": ["Male", "Male", "Female"]
    }
)

df

                       Name  Age     Sex
0     Braud Mr. Owen Harris   22    Male
1  Allen, Mr. William Henry   35    Male
2   Bonnel, Miss. Elizabeth   58  Female

### Each column in a Dataframe is a Series

In [11]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [12]:
ages = pd.Series([22, 35, 58], name="Age")
ages

0    22
1    35
2    58
Name: Age, dtype: int64

In [13]:
df["Age"].max()

58

In [15]:
df.describe().round(1)

        Age
count   3.0
mean   38.3
std    18.2
min    22.0
25%    28.5
50%    35.0
75%    46.5
max    58.0